<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb/host/home-list</title>
    <link rel="stylesheet" href="/host-home-list.css">
   
</head>
 <body>
  
    <div class = "navbar">
        <a href="/"> Home </a>
        <a href = "/host/add-home"> Add home </a>
        <a href = "/store/bookings">Bookings</a>
        <a href = "/store/favourite-list"> Favourite List </a>
        <a href = "/host/host-homelist">Host-HomeList</a>
    </div>
    <header>
        <h1>Hey Host! here are your registered homes</h1>
    
    </header>
    <ul class="homes-list">
       <% SubmittedDetails.forEach(home => { %>
        <li class="home-card">
            <% if (home.homeImage) { %>
                <img src="/uploads/<%= home.homeImage %>" alt="Home Image" class="home-img" />
            <% } %>
            <div class="home-info">
                <div class="home-address"><%= home.address %></div>
                <div class="home-price">₹ <%= home.price %></div>
            </div>
            <p><%= home.description %></p>

            
          <form action="/host/edit/<%= home.id %>" method = "GET">
            <button type="submit" class = "edit">Edit</button>
          </form>

            <form action = "/host/home-delete/<%= home.id %>" method = "POST">
                <input type="hidden" name="id" value = <%= home.id %>>
                <button type="submit" class= "delete">Delete</button>
            </form>
        </li>
       <% }) %>
</ul>   
</body>
</html>