<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <link rel="stylesheet" href="home.css">
    
</head>
 <body>
    <div class = "navbar">

        <a href="/"> Home </a>
        <% if (isLoggedIn) { %>
        <a href = "/host/add-home"> Add home </a>
        <a href = "/store/bookings">Bookings</a>
        <a href = "/store/favourite-list"> Favourite List </a>
        <a href = "/host/host-homelist">Host-HomeList</a    >
        <a href="/logout"> Logout </a>
        <% } else { %>
        <a href = "/login"> Login </a>
        <a href="/signup"> Sign Up</a>
        <% } %>
        
    </div>
    <header>
 <h1 class = "brand">
    <a href = "/"> 🏡 Swift Stay </a>

 </h1>

    
    </header>
    <ul class="homes-list">
       <% SubmittedDetails.forEach(home => { %>
        <li class="home-card">
            <% if (home.homeImage) { %>
                <img src="/uploads/<%= home.homeImage %>" alt="Home Image" class="home-img" />
            <% } %>
            <div class="home-info">
                <div class="home-address"><%= home.address %></div>
                <p><%= home.description %></p>
                <div class="home-price">₹ <%= home.price %></div>
            </div>
            <% if(isLoggedIn) { %>
                <button>Book </button> 
            <% } %> 
            <a  class = "Details" href = "/home/<%= home.id %>">Details</a>
        </li>
       <% }) %>
</ul>

    
    
    
</body>
</html>